.appis {
  text-align: center;
  margin-bottom: 60px;
}
.submitis {
  background-color: blue;
  color: white;
  margin-bottom: 2em;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.col h2 {
  margin-top: 10px;
  color: royalblue;
}

.row-sm {
  margin-right: auto;
  margin-left: auto;
  padding: 1em;
  width: 25%;
  margin-bottom: -35px;
  background-color: royalblue;
  color: white;
  display: flex;
  border-radius: 7px;
}

.col input {
  margin-bottom: 10px;
  margin-top: 10px;
}

.col-sm {
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.buttonis {
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  font-weight: normal;
}
